/* CSS starts below */

/* Inheritance - changes font family and increases font size */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Select multiple elements - changes background colour of header and footer */
header,footer {
    background-color: #A7B49E;
}


/* Class selector - changes the colour of main heading */
.site-title {
    color: #123524;
}

/* Id selector - adds box-shadow to image */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Replace bullets from the list of hobbies with squares */
section ul {
    list-style-type: square;
}

/* nth child selector - adds background to odd list items in hobby list */
section ul li:nth-child(odd) {
    background-color: #D0B6B6;
}

/* Styling the Navigation */
/* Removes bullets from navigation list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Removes underline from links */
nav ul a:link {
    text-decoration: none;
}