/* CSS starts below */

/* Inheritance - changes font family and increases font size */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Select multiple elements - changes background colour of header and footer */
header,footer {
    background-color: lightslategrey;
}

