/* Main CSS for Midterm Project starts below */

/* Page styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Sets base font size */
    background-color:#AAD4CF; /* Main background colour of website */
    margin-top: 0px; /* Gets rid of coloured margin at top */
    margin-bottom: 20px; /* Adds main coloured margin space at bottom */
    margin-left: auto; /* Centers page content */
}

.wrapper { 
    width: 80%; /* Sets the width of the wrapper/main content section to 80% of the page*/
    margin: auto; /* Centers wrapper horizontally */
    /* margin-bottom: 1px; Adds margin to bottom of the wrapper */
    background-color: #D4E9E7; /* Secondary main background colour */
}

/* Header */
header {
    position: relative; /* Allows h1 to be absolutely positioned on top */
}

header img {
    width: 100%; /* Makes image fully fit horizontally with header space*/
    margin-bottom: -15px; /* Reduces vertical distance of header image and navbar */
}

header h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 5rem; /* Makes h1 font size 5*16=36px*/
    color: white;
    display: inline-block; /* Makes h1 inline element */
    position: absolute; /* Positions h1 absolutely on top of header image*/
    /* Manual absolute positioning of h1 */
    top: 40%;
    right: 31%;
}

 /* Navigation */
nav li {
    display: inline-block; /* Displays ul in one line */
    padding: 0 133px; /* Padding to space li out evenly */
}

nav a {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

/* Vetical lines in navbar */
nav ul :nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* Article styling */
article {
    padding: 15px;
    font-size: 1.3em; 
    margin: 5px;
}

article h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 25px;
}

article h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: -5px;
}

article p {
    margin-bottom: -30px; /* Reduces vertical distance to facts section */
}

/* Article with image section */
article img {
    width: 350px; /* Adjusts size of image */
    height: auto;
    float: left; /* Makes image float on the left */
    padding-right: 5px;
    margin-right: 25px;
    margin-top: -5px; /* Makes image closer to h2 */
    padding-bottom: 30px;
}

article.clearfix::after {
    display: block; /* Makes element behave as block  */
    clear: both; /* Clears floated image inside article*/
    content: '';
}

/* Article with facts */
article ul {
    margin-bottom: -30px; /* Reduces vertical distance to facts section */
}

/* Contact Section */
.contactinfo {
    border: 2px solid black; /* Adds black border for section */
    font-size: 1.5rem;
    margin-top: 20px; /* Adds space between h3 */
    margin-bottom: 20px; /* Wrapper size at bottom */
}

.contactinfo div {
    margin: 20px; /* Centers content inside form */
}

#name, #email {
    width: 100%; /* Makes text fill across horizontally */
    padding-bottom: 15px; /* Makes text larger in height */
    margin-top: 10px;
}

.contactinfo textarea {
    width: 100%; /* Makes text area fill across horizontally */
    padding-bottom: 85px;  /* Makes text area larger in height */
    margin-top: 10px;
    resize: none; /* Disables resizing feature */
 }

.contactinfo p {
    font-size: 1.75rem; /* Makes paragraph font size slightly bigger than label */
    margin-left: 20px;
    margin-bottom: 20px; /* Adds space between radio section */
}

/* Button section */
button {
    border: 2px solid black;
    text-transform: uppercase;
    background-color: transparent;
    height: 45px; /* Resizes button */
    width: 60px;
}

/* Footer copyright section */
footer {
    font-size: 1.3rem;
    text-align: right;
    margin-right: 40px;
    padding-bottom: 20px;
}