/* Main CSS for Midterm Project starts below */

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#AAD4CF;
    margin: 0 auto;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: #D4E9E7;
}

header {
    position: relative;
}

header h1 {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    right: 50%;
}

