/* Main CSS for Midterm Project starts below */

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color:#AAD4CF;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #D4E9E7;
}

/* Header */

header {
    position: relative;
    height: auto;
}

header img {
    width: 100%;
}

header h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 5rem;
    color: white;
    position: absolute;
    display: inline-block;
    top: 40%;
    right: 31%;
}

 /* Navigation */

 nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #D4E9E7;
    display: block;
 }
 nav ul {
    text-align: center;
 }

nav li {
    display: inline-block;
    padding: 0 133px;
    box-sizing: border-box;
}

nav a {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none
}

/* Article with image */

article {
    padding: 15px;
    font-size: 1.3em;
    margin: 5px;
}

article h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 25px;
}

article h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: -5px;
}

article img {
    width: 350px;
    height: auto;
    float: left;
    padding-right: 5px;
    margin-right: 25px;
    margin-top: -5px;
    padding-bottom: 30px;
}

article p {
    display:block;
    margin-bottom: -30px;
}

article.clearfix::after {
    display:block;
    clear:both;
}

/* Article with facts */
article ul {
    margin-bottom: -35px;
}

/* Contact Section */
.form {
    border: 2px solid black;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.form label, .form p {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
}

.form div {
    margin: 20px;
    padding-top: 30
}

.form textarea {
   width: 100%;
   resize: none;
   padding-top: 85px;
}

#name, #email {
    width: 100%;
    padding-top: 15px;
}


.form p {
    font-size: 1.75rem;
    margin-left: 5px;
    padding-left: 15px;
}




 


