/* Main CSS for Final Project starts below */

/* Page styling */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: auto;
}

/* Enitre body wrapper */
.body-content {
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}


/* Header */
.header {
    background-color: #222222;
        width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

/* Logo styling */
.logo {
    background-color: #c78b07;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 0%;
}

.logo img {
    padding-top: 2.5%;
}

/* Navbar */
.main-nav {
    width: 95%;
}

.main-nav ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-left: 0%;
}

.main-nav ul li {
    width: 100%;
}

.main-nav ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #c78b07;
}

.main-nav ul li:nth-child(1) a {
    background-color: #c78b07;
    margin-top: -16px;
    color: black;
}

/* Nav search bar */
.nav-search {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
    margin-top: -2.5%;
}

.nav-search form {
    display: flex;
    width: 100%;
}

.nav-search input {
    flex-grow: 1;
}

/* Main banner section */
.welcome img {
    width: 100%;
}

.welcome-content {
    background-color: #222222;
    opacity: 75%;
}