/* Main CSS for Final Project starts below */

/* Enitre body wrapper */
.body-content {
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}

.header {
    background-color: #222222;
        width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.logo {
    background-color: #c78b07;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 0%;
}

.logo img {
    padding-top: 2.5%;
}

.main-nav {
    width: 95%;
}

.main-nav ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-left: 0%;
}

.main-nav ul li {
    width: 100%;
}

.main-nav ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #c78b07;
}

.main-nav ul li:nth-child(1) {
    background-color: #c78b07;
    margin-top: -16px;
    text-decoration-color: black;
}


.nav-search {
    display: flex;
    justify-content: center;
}

