/* Main CSS for Final Project starts below */

/* Enitre body wrapper */
.body-content {
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}

.header {
    background-color: #222222;
        width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ;
}   

.logo {
    background-color: #c78b07;
    width: 95%;
    margin-top: 2.5%;
}

.logo img {
    padding-top: 2.5%;
}

.main-nav ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.main-nav ul li {
    width: 100%;
}

.main-nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.nav-search {
    display: flex;
    justify-content: center;
}

